In [17]:
import pandas as pd

In [19]:
df_1=pd.read_excel('IMDB_Movie_Rating.xlsx',sheet_name=1)
df_1

,Movie Rank,Movie Name,Year of Release,IMDB Rating
0,1,The Shawshank Redemption,1994,9.2
1,2,The Godfather,1972,9.2
2,3,The Dark Knight,2008,9.0
3,4,The Godfather Part II,1974,9.0
4,5,12 Angry Men,1957,8.9
...,...,...,...,...
195,96,Jagten,2012,8.3
196,97,M - Eine Stadt sucht einen Mörder,1931,8.3
197,98,North by Northwest,1959,8.3
198,99,Vertigo,1958,8.2
199,100,Le fabuleux destin d'Amélie Poulain,2001,8.2

In [23]:
df_1.drop_duplicates()

,Movie Rank,Movie Name,Year of Release,IMDB Rating
0,1,The Shawshank Redemption,1994,9.2
1,2,The Godfather,1972,9.2
2,3,The Dark Knight,2008,9.0
3,4,The Godfather Part II,1974,9.0
4,5,12 Angry Men,1957,8.9
...,...,...,...,...
95,96,Jagten,2012,8.3
96,97,M - Eine Stadt sucht einen Mörder,1931,8.3
97,98,North by Northwest,1959,8.3
98,99,Vertigo,1958,8.2
99,100,Le fabuleux destin d'Amélie Poulain,2001,8.2